button {
    border: 0;
}

input {
    max-width: 4em;
    margin: auto 1em;
    text-align: center;
    border: 0;
}

.buttons {
    background-color: #EFEFEF;
    max-width: 80%;
    margin: auto;
}

.add-to-cart {
    width: 90%;
    margin: 1rem auto;
    border: 0;
}